
warehouseINVENTORY/bin/Debug/warehouseINVENTORY.exe
warehouseINVENTORY/bin/Debug/warehouseINVENTORY.pdb
warehouseINVENTORY/Main/Forms/MainFrm.Designer.vb
warehouseINVENTORY/obj/Debug/warehouseINVENTORY.exe
warehouseINVENTORY/obj/Debug/warehouseINVENTORY.pdb
warehouseINVENTORY/obj/Debug/warehouseINVENTORY.vbproj.GenerateResource.Cache
.vs/warehouseINVENTORY/v14/.suo
warehouseINVENTORY/bin/Debug/Error_Logs.txt
warehouseINVENTORY/bin/Debug/warehouseINVENTORY.exe
warehouseINVENTORY/bin/Debug/warehouseINVENTORY.pdb
warehouseINVENTORY/obj/Debug/warehouseINVENTORY.exe
warehouseINVENTORY/obj/Debug/warehouseINVENTORY.pdb
warehouseINVENTORY/obj/Debug/warehouseINVENTORY.vbproj.FileListAbsolute.txt
warehouseINVENTORY/obj/Debug/warehouseINVENTORY.vbproj.GenerateResource.Cache
warehouseINVENTORY/obj/Debug/warehouseINVENTORY.vbprojResolveAssemblyReference.cache
